/* CardAnimation CSS Below **********************************************************************************************************************************************************************/
.card-holder {
  position: absolute;
  height: 300px;
  width: 500px;
  top: 250px;
  left: calc(50% - 300px);
  display: flex;
  padding-top: 300px;
}

.hero-img {
  width: 800px;
  height:auto;
}

.card-anime {
  display: flex;
  border-radius: 10px;
  transition: 0.4s ease-in-out;
  position: relative;
  left: 0px;
  width:400px;
  height: auto;
  margin-top: 100px;
  margin-bottom: 0px;
  text-align: center;
}

.card-anime:not(:first-child) {
  margin-left: -40px;
}

.card-anime:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card-anime:hover ~ .card-anime {
  position: relative;
  left: 40px;
  transition: 0.4s ease-in-out;
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

.card-anime:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-in-out;
}

.card-img-anime {
  height: 280px;
  width: 350px;
}

.cardAnimationDiv {
  display: flex;
}
/* CardAnimation CSS Above **********************************************************************************************************************************************************************/

/* animatedItems CSS Below **********************************************************************************************************************************************************************/

/* animatedItems CSS Above **********************************************************************************************************************************************************************/

/* Navbar Below **********************************************************************************************************************************************************************/
.navbar {
  background-color: #3da2c4;
  color: white;
}
/* Site Pages Below **********************************************************************************************************************************************************************/

.site-pages {
  padding-top: 100px;
  width: 100%;
  text-align: center;
}

h1 {
  color: #089ee7;
  text-align: center;
}

.p-text {
  color: #089ee7;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .card-holder {
   padding-top: 150px;
   width: 400px;
   left: calc(50% - 200px);
  }

  .card-anime,.card-anime:hover, .card-anime:not(:first-child) {
  height: 280px;
  width: 180px;
  transform: none;
  -webkit-transform: none;
  }
}
