/* CardAnimation */
.card-holder {
  position: absolute;
  height: 300px;
  width: 700px;
  top: 300px;
  left: calc(50% - 350px);
  display: flex;
  padding-top: 300px;
}

.hero-img {
  width: 800px;
  height:auto;
}

.card-anime {
  display: flex;
  border-radius: 10px;
  transition: 0.4s ease-in-out;
  position: relative;
  left: 0px;
  width:300px;
  height: auto;
  margin-top: 100px;
  margin-bottom: 0px;
  text-align: center;
}

.card-anime:not(:first-child) {
  margin-left: -40px;
}

.card-anime:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card-anime:hover ~ .card-anime {
  position: relative;
  transition: 0.4s ease-in-out;
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

.card-anime:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-in-out;
}

.card-img-anime {
  height: 280px;
  width: 350px;
}

.cardAnimationDiv {
  display: flex;
}
/* Navbar */
.navbar {
  background-color: #3da2c4;
  color: white;
}
/* Site Pages */

.site-pages {
  padding-top: 100px;
  width: 100%;
  text-align: center;
}

.site-footer {
    background-color: #3da2c4;
    padding: 20px 0;
}

ul, ul li {
    display: inline;
    list-style: none;
    padding-right:25px;
}

.orange-text {
  color: #F8B72D;
  font-weight:bold;
}

.hover-orange:hover {
  color: orange !important;
  text-decoration: none;
}
.scheduler {
  height: 100px;
  width: 100px;
  margin-left: 50%;
  margin-top: 9.3%;
  position: absolute;
  animation: schedulerMove 10s infinite;
}

@keyframes schedulerMove {
  0% {
    left: 0px;
    top: 0px;
  }
  50% {
    left: 100px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.gitHubImage {
  height: 40px;
  width: 100px;
  margin-top: 20%;
  position: absolute;
  margin-left: 38%;
  animation: gitHub 15s infinite;
}

@keyframes gitHub {
  0% {
    left: 0px;
    top: 0px;
  }
  50% {
    left: 100px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.bk {
  position: relative;
  margin: auto;
  background: #987DB5;
}

.ipad {
  width: 50%;
  height: 75%;
  top: 0;
  left: 0;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.orange {
  background-color: #F48C1B;
}

.card-version-img {
  width:300px;
  font-size: 2rem;
}

.scheduler-version{
  background-color: #E3E3E3;
  align-items:center;
}

@media screen and (max-width: 800px) {
  .card-holder {
   padding-top: 220px;
   width: 400px;
   left: calc(50% - 200px);
  }

  .scheduler{
    display: none;
  }

  .gitHubImage {
  width: 50px;
  height:20px;
  }
  @keyframes gitHub {
    0% {
      left: 0px;
      top: 0px;
    }
    50% {
      left: 90px;
      top: 0px;
    }
    100% {
      left: 0px;
      top: 0px;
    }
  }

}

@media screen and (max-width: 450px) {
  .card-holder {
   display: none;
  }
  .cardAnimationDiv {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .card-holder {
   padding-top: 200px;
   width: 200px;
   left: 10px;
  }

  .card-version-img {
  width:200px;
  font-size: 2rem;
  }

   .hero-text {
    font-size: 1rem !important;
    color:red !important;
    text-align:center;
  }
}

@media screen and (max-width: 250px) {
  .card-holder {
   padding-top: 200px;
   width: 180px;
  }

  .card-version-img {
  width:150px;
  font-size: 1rem;
  }
}
