.scheduler {
  height: 100px;
  width: 100px;
  margin-left: 50%;
  margin-top: 9.3%;
  position: absolute;
  animation: schedulerMove 10s infinite;
}

@keyframes schedulerMove {
  0% {
    left: 0px;
    top: 0px;
  }
  50% {
    left: 100px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.gitHubImage {
  height: 40px;
  width: 100px;
  margin-top: 20%;
  position: absolute;
  margin-left: 38%;
  animation: gitHub 15s infinite;
}

@keyframes gitHub {
  0% {
    left: 0px;
    top: 0px;
  }
  50% {
    left: 100px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.bk {
  position: relative;
  margin: auto;
  background: #987DB5;
}

.ipad {
  /*background: white url("./animatedImages/images/blank-ipad-pro.jpg") no-repeat center;*/
  width: 50%;
  height: 75%;
  top: 0;
  left: 0;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.orange {
  background-color: #F48C1B;
}

.card-version-img {
  width:300px;
  font-size: 2rem;
}

.scheduler-version{
  background-color: #E3E3E3;
  align-items:center;
}



